/* Rename */
.rename-dialog entry text { margin: 12px 5px 12px 5px; }

/* Player */
normal picture { border-radius: 13px; }
normal {
  padding: 10px 10px 14px 10px;
  border-spacing: 10px;
  box-shadow: 0px 0px 20px var(--card-shade-color);
}
normal controls {padding-top: 12px; }
controls box { border-spacing: 6px; }
controls scale { padding: 10px 0px 0px 0px; }
controls box:nth-child(2) :nth-child(2) image { 
  min-height: 50px;
  min-width: 50px;
  -gtk-icon-size: 22px;
}
small,
fullscreen { background: black; color: white; }
small controls, fullscreen controls { padding: 10px 10px 14px 10px; }
fullscreen avatar { box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5); }
small controls,
fullscreen revealer > widget { background: linear-gradient(to top, color-mix(in srgb, black 50%, transparent), transparent); }
fullscreen scalebutton,
fullscreen button { -gtk-icon-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8); }

/* Catalogs */
masonrybox picture { border-radius: 13px; }
flowbox flowboxchild { border-radius: 100px; }
masonrybox view { border-spacing: 10px; margin: 10px; }
masonrybox view > column { border-spacing: 10px; }

/* Coverless */
small .no-cover,
fullscreen .no-cover,
masonrybox .no-cover { padding: 40px; }
@media (prefers-color-scheme: dark) {
  .no-cover { filter: brightness(10); }
}

/* Artist */
artist avatar { margin: 10px; }
artist label {
  font-weight: bold;
  margin: 14px 10px 10px 10px;
}
artist picture { border-radius: 13px; }
artist picture { margin: 10px; }
artist .no-cover { padding: 40px; }

/* Sidebar */
sidebar preferencesgroup:nth-child(2) row:nth-child(2) image,
sidebar list row:nth-child(5) image { transform: scale(1.25); }
sidebar preferencesgroup:nth-child(3) row image,
sidebar list row:nth-child(n+7) image { transform: scale(1.3); }
sidebar row revealer > box { border-spacing: 6px; }
sidebar row revealer > box button {
  -gtk-icon-size: 12px;
  min-width: 0px;
  min-height: 0px;
  padding: 8px;
  border-radius: 100px;
}

/* Playlist */
listview row > box { 
  border-spacing: 18px;
  border-radius: 8px;
  padding: 6px 6px 6px 16px;
}
listview row {
  padding: 0px;
  margin-bottom: 6px;
}
.colored listview row:selected { background-color: color-mix(in srgb, var(--color-2) 45%, transparent); }
listview row:selected > box > label { font-weight: bold; }

/* Colors */
sheet,
small,
normal,
.sidebar-pane {
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.colored {
  --scrollbar-outline-color: rgb(0 0 0 / 25%);
  --accent-color: var(--color-2);
  --accent-bg-color: var(--color-2);
  --popover-bg-color: color-mix(in srgb, var(--color-2), var(--window-bg-color) 60%);
  --card-bg-color: rgb(255 255 255 / 4%);
}
.colored small,
.colored normal {
  background: color-mix(in srgb, var(--color-3) 60%, transparent);
  box-shadow: none;
}
.colored navigation-split-view,
.colored sheet {
  background: linear-gradient(
      to bottom right,
      color-mix(in srgb, var(--color-1) 45%, transparent),
      transparent
    ),
    linear-gradient(
      to bottom left,
      color-mix(in srgb, var(--color-2) 45%, transparent),
      transparent
    ),
    linear-gradient(
      to top,
      color-mix(in srgb, var(--color-3) 45%, transparent),
      transparent
    ),
    var(--window-bg-color);
}
.colored .sidebar-pane {
  background: color-mix(in srgb, var(--sidebar-bg-color) 15%, transparent);
  box-shadow: none;
}
row.destructive-action { background: color-mix(in srgb, var(--destructive-bg-color) 15%, transparent); }
